<ion-view view-title="Bares e Restaurantes">
  <ion-content>
    <ion-list ng-repeat="place in places">
      <ion-item >
        <div class="list card stable-bg" data-ink-color="#387EF5" style="background-color:gray;">
                          <div class="item item-avatar">
                              <h2>{{place.nome}}</h2>
                         </div>
                          <div class="item item-body">
                                <div>Especialidade : {{place.especialidade}}</div>
                                <div>Telefone:  {{place.telefone}}</div>
                                <div>Endereço:  {{place.endereco}}</div>
                                <div>Site:
                                    <a href="{{place.site}}" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="ion-earth"></i></a>
                                </div>
                            </div>
                        </div>
      </ion-item>

    </ion-list>
   <div class="button-bar">
       <a class="button ion-ios-arrow-back button-energized">Anterior</a>
       <a class="button ion-home button-balanced">Home</a>
       <a class="button ion-ios-arrow-forward button-energized">Próximo</a>
   </div>
  </ion-content>
</ion-view>
