<ion-view view-title="Categorias">
<ion-content>
  <style>
    .item{
      margin:2px auto;
      padding:0px;
    }
    .title{
      padding:16px;
      padding-top: 35px;
    }
  </style>
  <ion-list class="animate-blinds has-header">
    <ion-item class="ink" ng-repeat="categoria in categorias" ng-click="goToCategory()">
      <div style="height:30vh; background-image: url('img/{{categoria.descricao}}.jpg');background-repeat:no-repeat;background-size:100% 100%;">
        <div class="title item-text-wrap" style="font-size:30px;font-weight:bold;color:white;">
            {{categoria.descricao}}
        </div>
    </div>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
