<ion-content class="has-header">
  <style>
    .item{
      margin:2px auto;
      padding:0px;
    }
    .title{
      padding:16px;
      padding-top: 35px;
    }
  </style>
  <ion-list class="animate-blinds">
    <ion-item class="ink" ng-repeat="categoria in categorias">
      <div class="title" style="background-image: url('img/{{categoria.descricao}}.jpg');background-repeat:no-repeat;background-size:100% 100%;height:180px;" class="item item-divider">
        <div class="item item-text-wrap" style="font-size:30px;font-weight:bold;color:white;">
            {{categoria.descricao}}
        </div>
    </div>
    </ion-item>
  </ion-list>
</ion-content>
