
	

<!--
	<div class="card" ng-repeat="place in places">
	  <div class="item item-text-wrap">

			<div class="row">
				<div class="col-20">
					<img src="img/template-logo.jpg" style="width:100%;">
				</div>

				<div class="col">
					<p style="font-size:25px;">{{place.name}}</p>
					<p style="font-size:15px;">{{place.especialidade}}</p>
					<br/>
					<p style="font-size:12px;">{{place.endereco}}</p>
					<p style="font-size:12px;">{{place.telefone}}</p>
				</div>

				<div class="col-20">

					<a class="button button-icon icon ion-map"></a>
				</div>

			</div>

	  </div>
	</div>
-->
